1. Easy/abundant_number.js   
1. Easy/add_two_fraction.js  
1. Easy/armstrong.js
1. Easy/automorphic_number.js
1. Easy/factor_of_number.js  
1. Easy/factorial_of_number.js
1. Easy/fibonacci_upto_n.js
1. Easy/friendly_pair_or_not.js
1. Easy/gcd.js
1. Easy/greatest_of_three.js
1. Easy/harshard_number.js
1. Easy/lcm.js
1. Easy/leap_year.js
1. Easy/number_digit_in_number.js
1. Easy/palindrome.js
1. Easy/perfect_number.js
1. Easy/power_of_number.js
1. Easy/prime_number.js
1. Easy/reverse_of_number.js
1. Easy/strong_number.js
1. Easy/sum_of_digit_in_number.js
1. Easy/sum_of_n_natural_number.js
1. Easy/sum_of_number_given_range.js